/* {
    height: 100dvh;
    margin: 0;
    padding: 0;

}  */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.card{
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;                       
}

.img{
    height: 200px;
    width: 350px;
    /* border-radius: 10px 10px 0px 0px; */
}

input{
    margin-bottom: 50px;
    height: 30px;
    width: 300px;
   
}

.rech{
    
    position: absolute;
    left: 400px;
    top: 15px;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    background-color: goldenrod;

}
body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .card.dark-mode {
    background-color: #555;
    color: #fff;
  }
input.dark-mode{
    background-color: #555;
    color: #fff;
    
  }
  
  /* Ajoutez d'autres styles pour le mode sombre selon vos besoins */
  button{
    position: relative;
    left: 1800px;
  }

  button.dark-mode{
    background-color: #555;
    color: #fff;
  }